@page "/users/create"
@using BusinessLogic.Services
@using DataAccess.Models;
@using Web.Pages.Components;
@using Blazorise;
@inject IUserService userService



<a href="users">
    <button class="reset-button back-btn theme-neutral">
        Назад
    </button>
</a>

<h3>Создание пользователя</h3>

<article class="input-title">Имя</article>

<input class="input" type="text" @bind="@UserName" />

<button class="reset-button theme-primary" @onclick=@SubmitUser>Создать</button>


@code {

    #region State
    public string UserName = "";
    public User? user;
    #endregion

    private bool CheckInputs(){
        if(!String.IsNullOrEmpty(UserName)){
            return true;
        }
        return false;
    }

    public void ClearInputs()
    {
        UserName = "";
    }

    public async Task SubmitUser(){
        BusinessLogic.ViewModels.UserModels.UserCreate userToCreate = new();
        if (CheckInputs())
        {
            userToCreate.Name = UserName;
            ClearInputs();
            user = await userService.Create(userToCreate);
        }

    }
}
