@page "/users"
@using BusinessLogic.Services;
@using BusinessLogic.ViewModels.UserModels;
@using Web.Shared.Components;
@inject IUserService _userService;


<PageTitle>Users</PageTitle>

@if (allUsers is null || allUsers.Count() == 0)
{
    <Notice Title="У вас пока нет пользователей" />
}
else
{
    @foreach(UserResult user in allUsers)
    {
        <div class="user-card">
            <div>
                @user.Id
            </div>
            <div>
                @user.Name
            </div>
        </div>
    }
}

<a href="users/create">
    <button class="reset-button confirm-btn">
        Добавить
    </button>
</a>



@code {
    private IEnumerable<UserResult> allUsers = null;



    protected override async Task OnInitializedAsync()
    {
        allUsers = await _userService.GetAll();
    }

}
