@using Web.Infrastructure.Enums;

<div class="notification">
    <span class="notification-side @SetStatus(Status)"></span>
    <div class="notification-content">
        <h4>@Title</h4>
        <h5>@SubTitle</h5>
    </div>
</div>
