@using Blazorise;
<h3>TextInput</h3>


<TextEdit 
    KeyPress="@OnClick"
/>


@code {
    [Parameter]
    public EventCallback<KeyboardEventArgs> OnEnterKey { get; set; }
    [Parameter]
    public EventCallback<KeyboardEventArgs> OnTabKey { get; set; }

    void OnClick(KeyboardEventArgs e)
    {
        if(e.Code == "Enter")
        {
            OnEnterKey.InvokeAsync(e);
        }
        if (e.Code == "KeyQ")
        {
            OnTabKey.InvokeAsync(e);
        }
        if(e.Code == "Tab")
        {
            OnTabKey.InvokeAsync(e);
        }
    }

}
