
.user-card {
    display: flex;
    width: 100%;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    
}

.user-card:hover {
    background-color: #e5e5e5;
}

.user-card__index{

}

.user-card__name {
    width: 100px;
    font-weight: 700;
}


.users-list {
    margin: 20px 0 0 0;
    background-color: #a1baff;
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
}

.users-list p {
    background-color: transparent;
}

.users-list__content{
}



.input-title {
}

.input{
    width: 250px;
    border-radius: 5px;
    border: 2px solid #606060;
    padding: 3px;
}